H1 { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: center; font-size: 16px; font-weight: bold}
H2 {
	color: #0000FF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 12px;
}
H3 { color: #0000FF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}
H4 { color: #009900; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bolder}
H5 { color: teal; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-indent: 18px}
P { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px} 
BODY { background: white repeat  top; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}
ul {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}
ol {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}
table { max-width: 1000px }
table .molTable { border: 2px; bordercolor: "black" }
table.searchATable { border-top-width : 1px;
    border-right-width : 1px;
    border-bottom-width : 1px;
    border-left-width : 1px;
    border: 1px;
    border-color: #010173;
    border-style : solid solid solid solid;
    width:100%;
    border-collapse: collapse; 
    border-spacing: 1px 1px;
    table-layout: fixed; }
.pageheading { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: left; font-size: 16px; font-weight: bold}
.blue {  color: #FF3333; font-style: italic; font-weight: bold}
.code {  color: #33FF33; font-family: "Courier New", Courier, mono }
.highlight { color: #3333FF; font-weight: bold }
.note {  font-style: italic; color: #333333}
.author {
	font-style: italic;
	font-weight: bold;
	color: #666666;
}
.field {
	font-family: "Courier New", Courier, mono;
	color: #009900;
}
.warning {
	font-size: 0px;
}
.highlight2 {
color: #FF3333; font-weight: bold
}
.highlight3 {

color: #33aa33; font-weight: bold
}
.highlight2blink {
	color: #FF3333;
	font-weight: bold;
	text-decoration: blink;

}
.crystal_background {
	background-image: url(images/crystalsgreyscalerotated.jpg);
}
